
@{
    ViewData["Title"] = "Blog";
}

<div id="blog">
            <div class="row">
                <div class="header">
                    <h1>Our Blog</h1>
                    <p>Chào mừng bạn đến với blog của chúng tôi về chủ đề chống tội phạm! Ở đây, chúng tôi khám phá các phương pháp hiệu quả để ngăn chặn và giảm thiểu tội phạm trong cộng đồng. Từ các chiến lược phòng ngừa đến phân tích xu hướng tội phạm, chúng tôi cung cấp kiến thức và cung cấp thông tin để tạo ra một môi trường an toàn và hòa bình hơn cho mọi người. Hãy tham gia cùng chúng tôi để học hỏi và chia sẻ những cách tiếp cận tích cực trong việc đối phó với tội phạm.</p>
                </div>
                <div class="content">
                    <div class="card">
                        <a href="">
                            <img src="~/image/Thumbnai1.jpg" alt="">
                        <h4>LỘ THÔNG TIN CÁ NHÂN – CÁCH NHẬN BIẾT SỚM NHẤT – PHẦN 2</h4>
                        <p>Khi bị lộ thông tin cá nhân, kẻ xấu có thể dùng thông tin ấy chiếm đoạt tiền, làm giả chứng minh nhân dân để thực hiện hành vi...</p>
                        </a>
                    </div>
                    <div class="card">
                        <a href=""><img src="~/image/thumbnail2.png" alt="">
                            <h4>Cách Nhận Biết Trang Web Lừa Đảo – Phần 1</h4>
                            <p>Dạo gần đây, tình trạng lừa đảo xuất hiện càng nhiều gây hậu quả nặng nề về tinh thần lẫn tài chính của nhiều người. Chính vì vậy, Hiếu...</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
