
@{
    ViewData["Title"] = "Index";
}

<div id="banner">
            <div class="vertical-divider">

            </div>
            <div class="des">         
                <h1>PHÒNG CHỐNG TỘI PHẠM</h1>
                <h2>Bảo vệ cộng đồng, chấm dứt tội phạm</h2>
                <p>Với tỷ lệ tội phạm ngày càng tăng trên toàn cầu, việc cảnh giác là ưu tiên số một của mọi người. Mọi người bắt buộc phải nhận được thông báo bất cứ khi nào tội phạm xảy ra tại địa phương của họ.
                    Ứng dụng này có thể hoạt động giống như một ứng dụng mạng xã hội, trong đó mọi người có thể đăng thông tin về tội phạm xảy ra xung quanh họ.</p>
                <button>Contact us</button>
            </div>
            <div class="illustration">
                <img src="~/image/banner.jpg" alt="" >
            </div>
        </div>
        <div id="agency">
            <div class="vertical-divider">

            </div>
            <div class="boxleft">
                <img src="~/image/Glyphs_Mission_Positive.png" alt="" >
                <h2>Our Agency</h2>
            </div>
            <div class="boxright">
                <h3>
                    Chào mừng đến với Trang web Cảnh báo Tội phạm!
                </h3>
                <p>
                    Chúng tôi là một cơ quan truyền thông và cảnh báo về các hoạt động tội phạm trên internet và trong cộng đồng. Sứ mệnh của chúng tôi là bảo vệ cộng đồng bằng cách cung cấp thông tin và giáo dục về các nguy cơ liên quan đến các loại tội phạm.

Chúng tôi theo dõi các xu hướng tội phạm , cung cấp cảnh báo về các mối đe dọa mới nổi, và hỗ trợ cộng đồng trong việc nhận biết và phản ứng lại với các hoạt động không đạo đức trên internet và xã hội. Chúng tôi tin rằng việc giáo dục và tạo ra nhận thức là chìa khóa để ngăn chặn tội phạm và bảo vệ sự an toàn cho người dân.
                </p>
                <a href="#" ><b>Learn About Us</b></a>
                <div class="horizontal-divider"></div>
            </div>
        </div>
        
            </div>
        </div>
