
@{
    ViewData["Title"] = "KiemTraKienThuc";
}

 <div id="ktkt_content">
            <h1>Kiểm tra kiến thức chống tội phạm</h1>
            <h2>KIỂM TRA KIẾN THỨC CĂN BẢN VỀ CÁCH THỨC CHỐNG TỘI PHẠM</h2>
            <p>Với công cụ này, bạn có thể kiểm tra kiến ​
               ​thức của mình về các cách thức để phòng tránh các loại tội phạm nguy hiểm.</p>  
            <p><b style="color: red;">Lưu ý: </b>Các tình huống trong công cụ được tạo ra với mục đích giáo dục và tạo ra nhận thức về các tình huống tội phạm trong xã hội. Chúng tôi không khích lệ hoặc tôn vinh hành vi phạm tội, mà muốn giúp người dùng hiểu rõ hơn về hậu quả của các hành vi này và khuyến khích sự tuân thủ pháp luật.</p>
            <p><i>Chúng tôi K.H.Ô.N.G lưu dữ liệu người dùng (thông tin tài khoản và địa chỉ IP...) trên chức năng này</i></p>
            <div class="quiz">
                <h3>LÀM BÀI TRẮC NGHIỆM CHỐNG TỘI PHẠM</h3>
                <p>Kiểm tra và nâng cao kiến ​​thức căn bản về cách phòng ngừa tội phạm ngoài xã hội.</p>
                <a href=""><button>Làm bài kiểm tra</button></a>
            </div>
        </div>

