
@{
    ViewData["Title"] = "KienThuc";
}
<div id="banner-kienthuc">
            <div class="des">         
                <h2>Kiến thức</h2>
                <h1>PHÒNG CHỐNG TỘI PHẠM</h1>
                <p>Tội phạm không chỉ gây tổn thương cho cá nhân mà còn ảnh hưởng đến sự an toàn và sự phát triển của cộng đồng. Trang web của chúng tôi được thành lập với mục tiêu cung cấp kiến thức và công cụ cần thiết để ngăn chặn và giảm thiểu tội phạm trong xã hội. Chúng tôi tin rằng việc tăng cường nhận thức và hiểu biết về tội phạm có thể giúp mọi người trở nên tự tin và khéo léo hơn trong việc bảo vệ bản thân và người thân.</p>
            </div>
            <div class="background"></div>   
        </div>
        <div id="content-kienthuc">
            <h2>Danh sách kiến thức căn bản cần biết về phòng chống tội phạm</h2>
            <div class="menu">
                <button id="menuButton">Mục lục</button>
                <ul class="submenu">
                    <li><a href="">Giới thiệu về tội phạm</a></li>
                    <li><a href="">Các biện pháp an ninh cơ bản</a></li>
                    <li><a href="">Ma túy và các biện pháp phòng tránh</a></li>
                    <li><a href="">Một số trang web và nguồn lực hữu ích</a></li>
                    <li><a href="">Hỗ trợ và tư vấn</a></li>
                </ul>
            </div>
            <div class="content">
                <h3>Giới thiệu về tội phạm</h3>
                <p>Tội phạm là một vấn đề phức tạp và đa chiều có ảnh hưởng sâu rộng đến cộng đồng và xã hội. Từ việc trộm cắp và mạo danh đến ma túy, tội phạm không chỉ gây tổn thương cho các cá nhân và gia đình mà còn đặt ra những thách thức lớn cho hệ thống pháp luật và an ninh công cộng.
                    <br><br>
                    Tội phạm không chỉ tồn tại ở một khu vực nhất định mà còn lan rộng khắp nơi trên thế giới, từ các thành phố lớn đến các cộng đồng nông thôn. Những hành vi tội phạm có thể bắt nguồn từ nhiều nguyên nhân khác nhau, bao gồm sự nghèo đói, thiếu giáo dục, và sự cám dỗ từ lối sống xa hoa và tiền bạc.
                    <br><br>
                    Các loại tội phạm phổ biến bao gồm trộm cắp, cướp giật, buôn bán ma túy, gian lận tài chính, bạo lực gia đình và tội ác trên internet. Những hành vi này không chỉ gây nguy hiểm cho những nạn nhân trực tiếp mà còn tạo ra những hậu quả rộng lớn đối với cộng đồng, bao gồm mất an ninh, làm suy yếu hệ thống kinh tế và gây ra sự mất mát về sức khỏe và tài sản.
                    <br><br>
                    Tuy nhiên, chúng ta không phải là nạn nhân hoàn toàn của tội phạm. Với sự hiểu biết và hành động phù hợp, chúng ta có thể đối phó và ngăn chặn tội phạm. Trang web này sẽ cung cấp cho bạn kiến ​​thức và công cụ cần thiết để bảo vệ bản thân, gia đình và cộng đồng khỏi nguy cơ của tội phạm.
                    <br><br>
                    Hãy cùng nhau học và hành động để xây dựng một cộng đồng an toàn và công bằng hơn!                 
                </p>
            </div>
            <hr style="margin: 20px; width: 800px;margin-left: auto;margin-right: auto;">
            <div class="content">
                 <h3>Các biện pháp an ninh cơ bản</h3>
                 <ul style="margin-top: 30px;">
                    <li><b>Khoá cửa và cửa sổ:</b> Đảm bảo rằng tất cả cửa và cửa sổ đều được khoá chắc chắn khi bạn rời khỏi nhà hoặc đi ra ngoài. Sử dụng khoá kép hoặc các hệ thống an ninh nâng cao nếu có thể.</li>
                    <br>
                    <li><b>Sử dụng hệ thống báo động:</b> Lắp đặt hệ thống báo động nhà cửa có thể giúp cảnh báo bạn và cơ quan chức năng trong trường hợp có nguy cơ xâm nhập hoặc tội phạm.</li>
                    <br>
                    <li><b>Giữ bí mật thông tin cá nhân:</b> Tránh chia sẻ thông tin cá nhân nhạy cảm trên mạng xã hội hoặc với những người không quen biết. Đặc biệt là hạn chế việc chia sẻ thông tin về lịch trình hoặc kế hoạch đi lại của bạn.</li>
                    <br>
                    <li><b>Sử dụng mật khẩu mạnh cho tài khoản trực tuyến:</b> Sử dụng mật khẩu mạnh và đa dạng cho tài khoản trực tuyến của bạn và thường xuyên thay đổi chúng. Đừng sử dụng mật khẩu dễ đoán hoặc thông tin cá nhân như ngày sinh hay tên đăng nhập.</li>
                    <br>
                    <li><b>Kiểm tra trước khi mở cửa cho người lạ: </b> Luôn kiểm tra và xác nhận danh tính của những người đến nhà trước khi mở cửa cho họ, đặc biệt là vào buổi tối hoặc khi bạn ở một mình.</li>
                    <br>
                    <li><b>Tăng cường sự cảnh giác khi đi ra ngoài: </b> Luôn luôn lưu ý đến môi trường xung quanh khi bạn đi ra ngoài, đặc biệt là vào buổi tối hoặc ở những khu vực có nguy cơ cao. Tránh đi một mình ở những nơi vắng vẻ, đặc biệt là nếu bạn không quen biết khu vực đó.</li>
                    <br>
                    <li><b>Tìm hiểu về các vùng nguy hiểm và các tội phạm tiềm ẩn: </b> Nắm bắt thông tin về các khu vực có nguy cơ cao hoặc những nguyên nhân gây ra tội phạm, như vùng có chỉ số tội phạm cao, để bạn có thể tránh xa hoặc cảnh giác khi đi qua những nơi đó.</li>
                    <br>
                    <li><b>Tham gia các khóa huấn luyện an toàn: </b> Tham gia các khóa huấn luyện hoặc chương trình đào tạo về an ninh và an toàn để nâng cao kiến thức và kỹ năng của bạn trong việc bảo vệ bản thân và gia đình.</li>
                </ul>
            </div>
            <hr style="margin: 20px; width: 800px;margin-left: auto;margin-right: auto;">
            <div class="content">
                <h3>Giáo dục về ma túy và cách tránh nó:</h3>
                <p>
                    Ma túy là các chất có nguồn gốc tự nhiên (morphin...); bán tổng hợp (heroin được bán tổng hợp từ morphin) hay tổng hợp (amphetamine) có tác dụng lên hệ thần kinh trung ương gây cảm giác như giảm đau, hưng phấn hay cảm thấy dễ chịu... mà khi dùng nhiều lần thì sẽ phải sử dụng lại nó nếu không sẽ rất khó chịu.
                    <br><br>
                    Để làm tốt công tác tuyên truyền Luật phòng, chống ma túy góp phần làm giảm số lượng người nghiên ma túy ở địa phương mỗi người dân cần nâng cao nhận thức về tác hại của các loại ma túy, đề cao tinh thần cảnh giác trước các thủ đoạn của tội phạm ma túy như:
                    <br><br>
                    Kích thích tính tò mò, khuyến mãi dùng thử rồi nghiện
                    <br><br>
                    Lôi kéo ăn chơi, sành điệu của một số gia đình khá giả về kinh tế
<br><br>
Sử dụng người nghiện lôi kéo, dụ dỗ người khác cùng nghiện với những chiêu trò thưởng hậu hĩnh, giả tạo.
<br><br>
Lợi dụng hoàn cảnh gia đình khó khăn kiếm tiền để mưu sinh cuộc sống mà lợi dụng họ vào buôn bán, vận chuyển ma túy trái pháp luật.
<br><br>
  Các đoàn thể chính trị cần tổ chức tuyên truyền sâu rộng cho quần chúng nhân dân hiểu rõ những hành vi mà Luật phòng, chống ma túy nghiêm cấm:
<br><br>
 Nghiêm cấm trồng cây có chứa chất ma túy. (như cây cần sa, cây côca, cây thuốc phiện…)
<br><br>
Nghiêm cấm sản xuất, tàng trữ, vận chuyển, bảo quản, mua bán, phân phối, giám định, xử lý, trao đổi, xuất khẩu, nhập khẩu, quá cảnh, nghiên cứu trái phép hoặc chiếm đoạt chất ma túy, tiền chất, thuốc gây nghiện, thuốc hướng thần.
<br><br>
Sử dụng, tổ chức sử dụng trái phép chất ma túy, xúi dục, cưỡng bức, lôi kéo, chứa chấp, hỗ trợ việc sử dụng trái phép chất ma túy.
<br><br>
 Sản xuất, tàng trữ, vận chuyển, mua bán phương tiện, dụng cụ dùng vào việc sản xuất, sử dụng trái phép chất ma túy.
 <br><br>
 Hợp pháp hóa tiền, tài sản do phạm tội ma túy mà có.
 <br><br>
 Chống lại hoặc cản trở việc cai nghiện ma túy.
 <br><br>
 Trả thù hoặc cản trở người có trách nhiệm hoặc người tham gia phòng, chống ma túy: là hành vi của người bị xử lý về những vi phạm về ma túy nhằm gây thiệt hại về tính mạng, sức khỏe, tài sản…hoặc gây khó khăn trở ngại cho người có trách nhiệm hoặc người tham gia phòng, chống những sai phạm về ma túy.
 <br><br>
 Lợi dụng chức vụ, quyền hạn, nghề nghiệp để vi phạm pháp luật về phòng, chống ma túy
 <br><br>
Các hành vi trái phép khác về ma túy như: Lạm dụng việc quản lý sử dụng chất ma túy trong lĩnh vực y tế, công nghiệp để vi phạm pháp luật; bao che cho hành vi chống cai nghiện ma túy, có hành vi làm cho người sau cai nghiện tái sử dụng ma túy; bao che các tội phạm về ma túy.
<br><br>
Tùy theo từng trường hợp cụ thể, từng hành vi, tác hại, hậu quả xảy ra do hành vi vi phạm vào một trong các điều cấm nêu trên để xử lý.
<br><br>
Gia đình là tế bào của xã hội có vai trò quan trọng, quyết định trong công tác phòng, chống ma túy, do đó mỗi gia đình cần tích cực:
<br><br>
 Giáo dục thành viên trong gia đình, thân nhân về tác hại của ma túy và thực hiện quy định của pháp luật về phòng, chống ma túy: quản lý chặt chẽ, ngăn chặn thành viên trong gia đình tham gia tệ nạn ma túy.
 <br><br>
 Thực hiện đúng chỉ định của thầy thuốc về sử dụng thuốc gây nghiện, thuốc hướng thần để chữa bệnh.
 <br><br>
 Đấu tranh với các hành vi trái phép về ma túy của thân nhân và của người khác.
 <br><br>
 Tham gia, hỗ trợ hoạt động cai nghiện ma túy tại các cơ sở cai nghiện và tại cộng đồng; theo dõi, giúp đỡ người đã cai nghiện ma túy hòa nhập cộng đồng, phòng, chống tái nghiện.
 <br><br>
 Phát hiện, cung cấp nhanh chống các thông tin về tệ nạn ma túy cho cơ quan Công an hoặc cơ quan khác có thẩm quyền.
 <br><br>
Phát hiện, báo cáo kịp thời cho cơ quan nhà nước có thẩm quyền việc trồng cây có chứa chất ma túy; tham gia triệt phá cây có chứa chất ma túy do chính quyền địa phương tổ chức.
<br><br>
 Riêng người nghiện ma túy và gia đình có người nghiện ma túy có trách nhiệm:
 <br><br>
 Tự khai báo về tình trạng nghiện ma túy của mình với cơ quan, tổ chức nơi làm việc hoặc Ủy ban nhân dân xã, phường, trị trấn nơi cơ trú và tự đăng ký hình thức cai nghiện ma túy;
 <br><br>
Tuân thủ nghiêm ngặt các quy định về cai nghiện ma túy.
<br><br>
 Khai báo với UBND cấp xã về người nghiện ma túy trong gia đình mình, tình trạng nghiện và đăng ký hình thức cai nghiện cho người đó.
 <br><br>
 Động viên, giúp đỡ và quản lý người nghiện ma túy cai nghiện tại gia đình, cai nghiện ma túy tại cộng đồng theo sự hướng dẫn giám sát của cán bộ y tế và UBND cấp xã.
 <br><br>
   Theo dõi, giám sát, phòng ngừa, ngăn chặn người nghiện sử dụng trái phép chất ma túy hoặc có hành vi gây mất trật tự an toàn xã hội.
   <br><br>
  Hỗ trợ cơ quan có thẩm quyền đưa người nghiện ma túy vào cơ sở cai nghiện và đóng góp kinh phí cai nghiện theo quy định của pháp luật.
  <br><br>
 Để tăng cường công tác quản lý nhà nước về phòng, chống ma túy, trách nhiệm của UBND xã, phường, thị trấn  cần tổ chức cho người nghiện ma túy, gia đình người nghiện ma túy khai báo về tình trạng nghiện ma túy và đăng ký hình thức cai nghiện.
 <br><br>
 Đối với cơ quan, tổ chức trong phòng chống ma túy
 <br><br>
Phát hiện, cung cấp nhanh các thông tin về tệ nạn ma túy cho cơ quan Công an hoặc cơ quan khác có thẩm quyền. Cơ quan nhà nước có thẩm quyền phải xem xét, giải quyết kịp thời những thông tin, tố giác về tệ nạn ma túy.
<br><br>
Phát hiện, báo cáo kịp thời cho cơ quan nhà nước có thẩm quyền việc trồng cây có chứa chất ma túy; tham gia triệt phá cây có chứa chất ma túy do chính quyền địa phương tổ chức.
<br><br>
Tại các vùng phải xóa bỏ cây có chứa chất ma túy, các cơ quan nhà nước trong phạm vi nhiệm vụ, quyền hạn của mình có trách nhiệm tổ chức thực hiện chủ trương, chính sách của nhà nước về phát triển sản xuất nông nghiệp, lâm nghiệp để thay thế việc trồng cây có chứa chất ma túy; quy hoạch cơ cấu nông nghiệp, lâm nghiệp, công nghiệp, dịch vụ và thị trường phù hợp để nhân dân chuyển hướng sản xuất có hiệu quả.
<br><br>
Các cơ quan thông tin, tuyên truyền có trách nhiệm phối hợp với cơ quan, tổ chức, đơn vị vũ trang nhân dân tổ chức tuyên truyền, giáo dục để nhân dân nhận thức rõ về tác hại của ma túy; chủ trương, chính sách, pháp luật, biện pháp của nhà nước về phòng, chống ma túy.
<br><br>
 Đối với Mặt trận tổ quốc Việt Nam và các tổ chức thành viên, các tổ chức khác trong phạm vi nhiệm vụ, quyền hạn của mình có trách nhiệm trong phòng chống ma túy.
 <br><br>
Tổ chức và phối hợp với cơ quan có thẩm quyền tuyên truyền, giáo dục nhân dân kiến thức pháp luật về phòng, chống ma túy; xây dựng môi trường xã hội lành mạnh, văn minh.
<br><br>
Phòng ngừa, ngăn chặn người của tổ chức mình và mọi công dân tham gia tệ nạn ma túy.
<br><br>
Giám sát hoạt động phòng, chống ma túy ở cơ quan, nhà trường, các cơ sở giáo dục khác và địa bàn dân cư.
<br><br>
Phối hợp với chính quyền các cấp, các cơ quan có thẩm quyền để vận động cai nghiện ma túy; tham gia giáo dục, dạy nghề, tìm việc làm và giúp đỡ người đã cai nghiện ma túy hòa nhập cộng đồng, phòng, chống tái nghiện.
<br><br>
Trách nhiệm của nhà trường và các cơ sở giáo dục trong phòng, chống ma túy.
<br><br>
Tổ chức chương trình giáo dục về phòng, chống ma túy, giáo dục pháp luật về phòng, chống ma túy và lối sống lành mạnh cho học sinh, sinh viên, học viên; quản lý chặt chẽ học sinh, sinh viên, học viên tham gia tệ nạn ma túy.
<br><br>
Phối hợp với gia đình, cơ quan, tổ chức và chính quyền địa phương để quản lý, giáo dục học sinh, sinh viên, học viên về phòng, chống ma túy.
<br><br>
Phối hợp với cơ quan y tế và chính quyền địa phương tổ chức xét nghiệm khi cần thiết để phát hiện học sinh, sinh viên, học viên nghiện ngập.
                </p>
            </div>
            <hr style="margin: 20px; width: 800px;margin-left: auto;margin-right: auto;">
            <div class="content">
                <h3>Một số trang web và nguồn lực hữu ích:</h3>
                <p>Các công cụ và nguồn lực trực tuyến và cộng đồng mà mọi người có thể sử dụng để tìm hiểu thêm về tội phạm và cách bảo vệ bản thân.</p>
                <h4>1. Phòng chống tội phạm</h4>
                <p>Chúng tôi là một cơ quan truyền thông và cảnh báo về các hoạt động tội phạm trên internet và trong cộng đồng. Sứ mệnh của chúng tôi là bảo vệ cộng đồng bằng cách cung cấp thông tin và giáo dục về các nguy cơ liên quan đến các loại tội phạm.

                    Chúng tôi theo dõi các xu hướng tội phạm , cung cấp cảnh báo về các mối đe dọa mới nổi, và hỗ trợ cộng đồng trong việc nhận biết và phản ứng lại với các hoạt động không đạo đức trên internet và xã hội. Chúng tôi tin rằng việc giáo dục và tạo ra nhận thức là chìa khóa để ngăn chặn tội phạm và bảo vệ sự an toàn cho người dân</p>
                <img src="image/pctpweb.png" alt="" style="max-width: 800px;">
                <p>Xem tại đây: <a href="">Web Phòng chống tội phạm</a></p>
                <h4>2. Ứng dụng chống lừa đảo</h4>
                <p>Ứng dụng sẽ cảnh báo khi bạn truy cập các trang web nguy hiểm, lừa đảo, phần mềm độc hại, giả mạo, có nội dung vi phạm,… </p>
                <img src="image/cld.png" alt="" style="max-width: 800px;">
                <p>+Nếu bạn xài Android: tải app <a href="https://play.google.com/store/apps/details?id=vn.eplus.chongluadao" target="_blank">tại đây</a></p>
                <p>+Nếu bạn xài Chrome, Brave, CocCoc và Edge, vui lòng tải về <a href="https://chromewebstore.google.com/detail/chongluadao/mdcemplfpeifcogglenloohjghjbigni" target="_blank">tại đây</a></p>
                <p>+Nếu bạn xài Firefox, vui lòng tải về <a href="https://addons.mozilla.org/en-US/firefox/addon/chongluadao/" target="_blank">tại đây</a></p>
                <p>+Ngoài ra bạn cũng có thể kiểm tra trang web không an toàn <a href="https://chongluadao.vn/web-safety-check?cld=1" target="_blank">tại đây</a></p>
                <h4>3. Bộ công an</h4>
                <p>Có vẻ không xa lạ gì nữa vì đây là trang web chính thức của lực lượng Công an nhân dân. Chứa nhiều tin tức, sự kiện và thống kê quan trọng về tội phạm</p>
                <img src="image/bca.png" alt="" style="max-width: 800px;">
                <p>Xem tại đây: <a href="https://bocongan.gov.vn/">Web Bộ công an</a></p>
            </div>
            <hr style="margin: 20px; width: 800px;margin-left: auto;margin-right: auto;">
            <div class="content"> 
                <h3>Hỗ trợ và tư vấn</h3>
                <div class="box">
                    <a href=""><div class="boxleft">
                        <p>Hỗ trợ pháp lý và điều tra</p>
                    </div></a>
                    <a href=""><div class="boxright">
                        <p>Tư vấn tâm lý nạn nhân</p>
                    </div></a>
                </div>
            </div>
        </div>
