
@{
    ViewData["Title"] = "News";
}

<div id="news">
        <div class="header_news">
             <h2>Tin tức</h2>
             <h1>PHÒNG CHỐNG TỘI PHẠM</h1>
             <p>Các tin tức nóng trong và ngoài nước.</p>
        </div>
        <div class="background"></div>
        <div class="article">
            <img src="~/image/atc1.png" alt="Hình minh họa">
            <div class="article-content">
                <h2><a href="https://thanhnien.vn/pha-an-nho-mat-than-185240104193904866.htm">Phá án nhờ 'mắt thần' </a></h2>
                <p>TP.HCM lắp đặt hơn 30.000 mắt camera giám sát an ninh trật tự</p>
            </div>
        </div>
        <div class="article">
            <img src="~/image/atc2.png" alt="Hình minh họa">
            <div class="article-content">
                <h2><a href="https://thanhnien.vn/phuc-hoi-giai-quyet-nguon-tin-toi-pham-lien-quan-giam-doc-so-kh-cn-tinh-quang-ngai-185240102130545065.htm">Phục hồi giải quyết nguồn tin tội phạm liên quan Giám đốc Sở KH-CN tỉnh Quảng Ngãi</a></h2>
                <p>Giám đốc Sở KH-CN tỉnh Quảng Ngãi liên tiếp bị kết luận có sai phạm</p>
            </div>
        </div>
        <div class="article">
            <img src="~/image/atc3.png" alt="Hình minh họa">
            <div class="article-content">
                <h2><a href="https://thanhnien.vn/tphcm-hcu-chi-mo-dot-cao-diem-tran-ap-toi-pham-dip-tet-185231220131852498.htm">Công an TP.HCM bắt tội phạm Hàn Quốc đang bị truy nã</a></h2>
                <p>Công an TP.HCM bắt 2 vợ chồng mở quán cà phê cho khách cá độ bóng đá</p>
            </div>
        </div>
    </div>