
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
    <link href="~/cssLayout/admincss.css" rel="stylesheet"/>
</head>
<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
            <div class="sidebar-brand">
               <h2>
                   <span>PHÒNG CHỐNG <br> TỘI PHẠM</span>
               </h2>
            </div>
            <div class="sidebar-menu">
               <ul>
                   <li>
                       <a href="~/admin/usermanagement">
                           <span class="las la-user-circle"></span><span>Quản lý tài khoản</span>
                       </a>
                   </li>
                   <li>
                       <a href="~/admin/reportmanagement">
                           <span class="las la-bullhorn"></span><span>Quản lý báo cáo</span>
                       </a>
                   </li>
                   <li>
                       <a href="~/admin/crimemanagement">
                           <span class="las la-address-card"></span><span>Quản lý tội phạm</span>
                       </a>
                   </li>
                   <li>
                        <a href="~/admin/postmanagement">
                            <span class="las la-book-open"></span><span>Đăng bài viết</span>
                        </a>
                   </li>
               </ul>
            </div>
    </div>
   <div class="main-content">
       <div class="header">
          <h2>
           <label for="nav-toggle">
               <span class="las la-bars" ></span>
               <img src="" height="25px"  alt="" >
          </label>
          </h2>
          <div class="user-wrapper" >
               <img src="img/2.png" alt="" width="30px" height="30px">
               <div>
                   <h4>AdminName</h4>
               </div>
          </div>
       </div>
    <main>
        @RenderBody()
    </main>
       
       
   </div>
   
   <div id="overlay"></div>


</body>
</html>