<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/font/themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body>
    <div>
         <div id="wrapper">
             <div id="header">
            <a href="index.html" class="logo">
                <img src="~/image/logoo.png"  height="96px"; alt="">
            </a>
            <div id="menu">
                <div class="item" >
                    <a href="index.html">Trang chủ</a>
                </div>
                <div class="item">
                    <a href="">Về chúng tôi</a>
                </div>
                <div class="item">
                    <a href="report.html">Báo cáo tội phạm</a>
                </div>
                <div class="item">
                    <a href="news.html">Tin tức</a>
                </div>
                <div class="item">
                    <a href="">
                        Hữu ích
                        <i class="ti-angle-down"></i>
                    </a>
                    <ul class="submenu">
                        <li><a href="data.html">Dữ liệu tội phạm</a></li>
                        <li><a href="Kiemtrakienthuc.html">Kiểm tra kiến thức chống tội phạm</a></li>
                        <li><a href="Kiemtrakienthuc.html">Kho kiến thức chống tội phạm</a></li>
                        <li><a href="">PsyCrime Insights</a></li>
                    </ul>
                </div>
                <div class="item">
                    <a href="blog.html">Blog</a>
                </div>
                <div class="item">
                    <a href="">Đối tác</a>
                </div>
                <div class="item">
                    <a href="">Liên hệ</a>
                </div>
            </div>
            <div id="actions">
                <div class="item">
                    <a href=""><i class="fa fa-search" style="font-size:20px;color:white;margin-top: 5px;display: inline-block;margin-right: 5px;"></i></a>
                </div>
                <div class="item">
                    <a href=""><img src="~/image/user.png" style="width:25px" alt=""></a>
                </div>
            </div>
        </div>
            @RenderBody()
         </div>
       <div id="footer">
            <div class="footerContainer">

                <div class="row"></div>
                  <div class="footer-col">
                    <h4>PHƯƠNG CHÂM</h4>
                    <p>
                    </p>
                    <p><img src="~/image/can.png"width="90" height="90"></p>

                      <h4>LIÊN HỆ</h4>
                      <p>✉︎ info@gm.uit.com
                      </p>
                      <p>✆ 0123456789
                      </p>  
                  </div>
                  <div class="footer-col">
                    <h4>CHI NHÁNH</h4>
                    <p><img alt="Trường đại học Công nghệ Thông tin" src="~/image/banner_footer.png" width="227" height="57"></p>
                  </div>
                  <div class="footer-col">
                    <h4>TÊN NHÓM</h4>
                    <p>Mô tả</p>
                  </div>
                  <div class="footer-col">
                    <h4>FOLLOW US</h4>
                    <div class="social-links">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                    </div>

              </div>
            <div class="row,textcenter">
              <p>&copy; 2024 Trang Chủ - Cảnh Báo Tội Phạm. All rights reserved.</p> 

            </div>
        </di
    </div>
</body>
</html>
