<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/cssLayout/styles.css">
    <link rel="stylesheet" href="~/cssLayout/responsive.css">
    <link rel="stylesheet" href="~/font/themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

</head>
<body>
    <div id="wrapper">
        <div id="header">
            <a href="~/home/Index" class="logo">
                <img src="~/image/logoo.png" height="96px" ; alt="">
            </a>
            <div id="menu">
                <div class="item">
                    <a href="~/home/index">Trang chủ</a>
                </div>
                <div class="item">
                    <a href="#">Về chúng tôi</a>
                </div>
                <div class="item">
                    <a href="~/home/report">Báo cáo tội phạm</a>
                </div>
                <div class="item">
                    <a>
                        Hữu ích
                        <i class="ti-angle-down"></i>
                    </a>
                    <ul class="submenu">
                        <li><a href="~/home/data">Dữ liệu tội phạm</a></li>
                        <li><a href="~/home/kiemtrakienthuc">Kiểm tra kiến thức chống tội phạm</a></li>
                        <li><a href="~/home/kienthuc">Kho kiến thức chống tội phạm</a></li>
                    </ul>
                </div>
                <div class="item">
                    <a href="~/home/blog">Blog</a>
                </div>
                <div class="item">
                    <a href="#">Liên hệ</a>
                </div>

                <div style="color:white;" class="item">
                    @Context.Session.GetString("UserName")
                </div>
                <div class="item">
                    @if (Context.Session.GetString("UserName") == null)
                    {
                        <a><img src="~/image/user.png" style="width:25px" alt="" /></a>
                        <ul class="submenu2">
                            <li><a href="~/auth/Login">Đăng nhập</a></li>
                            <li><a href="~/auth/Signup">Đăng ký</a></li>
                        </ul>
                    }
                    else
                    {
                        <a><img src="~/image/user.png" style="width:25px" alt=""></a>
                        <ul class="submenu">
                            <li><a href="">Hồ sơ</a></li>
                            <li><a href="~/auth/logout">Đăng xuất</a></li>
                        </ul>
                    }
                </div>
            </div>
            <div id="actions">
                <i class="bar-icon ti-view-list" id="mobile-menu"></i>
            </div>
        </div>
        @RenderBody()

        <div id="footer">
            <div class="footerContainer">

                <div class="row"></div>
                <div class="footer-col">
                    <h4>PHƯƠNG CHÂM</h4>

                    <p><img src="~/image/can.png" width="90" height="90"></p>

                    <h4>LIÊN HỆ</h4>
                    <p>
                        ✉︎ info@gm.uit.com
                    </p>
                    <p>
                        ✆ 0123456789
                    </p>
                </div>
                <div class="footer-col">
                    <h4>CHI NHÁNH</h4>
                    <p><img alt="Trường đại học Công nghệ Thông tin" src="~/image/banner_footer.png" width="227" height="57"></p>
                </div>
                <div class="footer-col">
                    <h4>TÊN NHÓM</h4>
                    <p>Nhóm 1</p>
                </div>
                <div class="footer-col">
                    <h4>FOLLOW US</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>

            </div>
            <div class="row,textcenter">
                <p>&copy; 2024 Trang Chủ - Cảnh Báo Tội Phạm. All rights reserved.</p>
            </div>
        </div>
    </div>
    <script>
        var header = document.getElementById('header');
        var mobileMenu = document.getElementById('mobile-menu');
           mobileMenu.onclick = function () {
               var isClosed = header.clientHeight === 60;
               if (isClosed) {
                   header.style.height = 'auto';
               } else {
                header.style.height = '60px';
               }
           }
    </script>
</body>
</html>
